@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var promo in Model.Promotions)
{
    <div class="product">

        <form asp-controller="Products" asp-action="Promotion" asp-route-id="@promo.ID">
            <input type="image" style="width: 400px; height: 400px;" src="~/images/@promo.ImageName" alt="Promotion image" />
        </form>

        <h3>@promo.Name</h3>
        <p>@promo.Description</p>
    </div>
}
